
<body>
{%extends 'base.html'%}

{%block content%}
{% if error%}
{{error}}
{%endif%}
<h1>login</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {%csrf_token%}
  <div class="form-group">
    <label for="formGroupExampleInput">title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" aria-describedby="emailHelp" placeholder="enter title name" name="title">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput1">body</label>
    <input type="text" class="form-control" id="formGroupExampleInput1" aria-describedby="emailHelp" placeholder="enter the description" name="body">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">url</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" aria-describedby="emailHelp" placeholder="enter the url" name="url">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput3">image</label>
    <input type="file" class="form-control" id="formGroupExampleInput3"  name="image">
  </div>

    <div class="form-group">
    <label for="formGroupExampleInput4">icon</label>
    <input type="file" class="form-control" id="formGroupExampleInput4"  name="icon">
  </div>



  <button type="submit" class="btn btn-primary">add product</button>
</form>
{%endblock%}
</body>
